---
# Variables
 
##### F5 Server ######
f5_server_fqdn: LBISKPE03.WT.SANTANDERUK.PRE.CORP
 
# SSL Cert Variables
ciphers: "DEFAULT:!LOW:!SSLv3:!MD5:!RC4-SHA:!DHE:!EXPORT:ECDHE+AES-GCM:ECDHE:RSA+AES:!3DES"
ssl_options: "no-sslv2 no-sslv3 dont-insert-empty-fragments"
ca_bundle: "Santander_UK01_CA_Root_SHA2_Bundle"
 
###### Change Request Details ######
remedy_id: "CHG0000000000"
requester: "Self Service Portal"
 
###### SSL Certificate Details ######
cert_required: "yes"
BISGenericF5Cert_required: "yes"
sans_required: "no"
sans_list:
  - ansible-test.santanderuk.pre.corp
  - ansible-test.abbey.isban.dev.corp
 
##### DNS Options ######
dns_required: "yes"
ttl: ""
 
##### VIP Details ######
vip_name: "{{ PROJECT_NAME}}-dev"
vip_domain: "santanderuk.pre.corp"
vip_port: "443"
vip_description: "{{ PROJECT_DESCRIPTION }}"
specific_vip_ip: "no"
vip_destination: ""
reuse_vip_ip: "no"
irule_required: "no"
vip_default_pool: "{{ vip_name }}.{{ vip_domain }}-{{vip_port}}"
vip_irules_list: "{{ vip_name }}.{{ vip_domain }}-irule"
vip_profiles: ""
persistence_profile: ""
nodes:
  - { fqdn: vmz1lbinter01.cap1.paas.gsnetcloud.corp }
  - { fqdn: vmz2lbinter02.cap1.paas.gsnetcloud.corp }
  - { fqdn: vmz3lbinter03.cap1.paas.gsnetcloud.corp }
  - { fqdn: vmz1lbinter01.cap2.paas.gsnetcloud.corp }
  - { fqdn: vmz2lbinter02.cap2.paas.gsnetcloud.corp }
  - { fqdn: vmz3lbinter03.cap2.paas.gsnetcloud.corp }
pools:
  - { pool_port: 443, lb_method: "least_connection_member", slow_ramp_time: "10", service_down_action: "reselect", monitors: "/Common/tcp" }
